{% extends "bootstrap/base.html" %}

{% block title %}
Search
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
<link rel='stylesheet' href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Armor Games Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"><a href="search"><i class="fa fa-search"></i> Search</a></li>
            <li><a href="{{ url_for('dataVizualisation') }}"><i class="fa fa-table"></i> Data Vizualisation</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="search">
        <br><br>
        <h1>Here you can search into the data that have been scraped from armorgames.com</h1>
        <br>
        <form class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type here">
            <button type="submit" class="btn btn-secondary">Search</button>
          </div>
        </form>
        <br><br>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="trip-start"
          value="2018-07-22"
          min="2018-01-01" max="2018-12-31">
      </div>
    </div>
{% endblock %}
